extends _base

mixin loading
  .loading-progress.card.my-2.small
    .card-body
      h5.card-title.mb-3 Loading interactive parts
      div.card-text.d-flex.align-items-center
        div.spinner-border.text-primary.me-3(role='status', aria-hidden=true)
        em This can take come time…

block body
  header.body-header
    div.container
      h1.display-3.mb-4
        a.d-block(href = basePath) Just Web Token
      nav.navbar.navbar-expand-lg.navbar-dark.px-0.pb-0
        button.navbar-toggler.mb-1(
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#main-nav-content"
          aria-controls="main-nav-content"
          aria-expanded="false"
          aria-label="Toggle navigation"
        )
          span.navbar-toggler-icon

        div#main-nav-content.collapse.navbar-collapse
          ul.navbar-nav.me-auto
            for page in Object.entries(pages).filter(([_, { navTitle }]) => Boolean(navTitle))
              -
                const [pageName, { navTitle, title }] = page
              li.nav-item(title=title, class={ active: entryPoint === pageName })
                a.nav-link(href=`${basePath}/${pageName}/`, class={ active: entryPoint === pageName })= navTitle

  .container.pt-4
    main
      block main

    footer.page-footer.small
      div.row
        div.col-md-9
          p.mb-2.text-muted.
            © 2021 Alex Ostrovski. Licensed under <a rel="license" href="https://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
          p.
            This site is open-source! <a href="https://github.com/slowli/justwebtoken.io">Contribute on GitHub</a>

        div.col-md-3
          h5 Useful links
          ul.list-unstyled
            li.mb-1
              a(href=`${basePath}/about/`, title='About this website') About
            li.mb-1
              a(href='https://crates.io/crates/jwt-compact', title='Rust library powering this website') jwt-compact library
